/* Center the login form at the top of the page */
.login-page {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #f9f9f9;
    padding-top: 50px; /* Adjust as needed to position the login form */
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

form {
    width: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.privacy-policy,
.register-link {
    margin-top: 20px;
    text-align: center;
}

.privacy-policy a,
.register-link a {
    color: #007bff;
    text-decoration: none;
}

.privacy-policy a:hover,
.register-link a:hover {
    text-decoration: underline;
}
